body {
    background-color: rgba(114, 206, 255);
    font-family: roboto;
    font-size: 16px;
}

#logo {
    font-size: 3rem;
    font-weight: 100;
    color: #EA1616;
}

@media only screen and (max-width: 767px) {
    #logo {
        font-size: 2rem;
    }
}

.bg-light {
    background-color: #E8E8E8 !important;
}

.uppercase {
    text-transform: uppercase;
}

.game-area {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #707070;
    border-radius: 20px;
    height: 350px;
}


#wordToGuess {
    padding: 15px;
    letter-spacing: 1px;

}

.control-area {
    padding: 15px;
    width: -80%;
}

@media only screen and (min-width: 768px) {
    .control-area button {
        width: 20%;
        padding: 15px 3px;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 1.5rem;
    }
}

.submit-area {
    margin-top: 5%;
}

.btn-container {
    padding-top: 15px;
}

.btn-game-type {
    background-color: rgba(22, 87, 234);
    border-radius: 30px;
    margin: 15px;
    color: white;
}

@media only screen and (min-width: 767px) {
    .btn-game-type {
        width: 50%;
        display: block;
        height: 60px;
        background-color: rgba(22, 87, 234);
        border-radius: 30px;
        margin: 15px;
        color: white;
    }
}





#letter-box {
    background-color: rgba(22, 87, 234), 0.5;
    border-radius: 10px;

}

.submit-button {
    background-color: rgba(22, 87, 234);
    border-radius: 30px;
    margin: 15px;
    color: white;
}

.points-container {
    float: left;
    width: 100%;
}


#letterHistory {
    background-color: white;
    padding: 15px;
    float: left;
    width: 80%;
}

#numAttempts {
    background-color: rgba(22, 87, 234);
    padding: 15px;
    float: left;
    width: 20%;
}